<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<targets>
		<!-- Archivo de texto para logs -->
		<target name="logfile" xsi:type="File" fileName="logs/logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception}" />

		<!-- Salida por consola -->
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<!-- Minimo nivel de log que se guarda -->
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>
</nlog>
